body {
	background: gray;
}
#main_page {
	background: white;
	min-height: 500px;
	width: 80%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px;
}

#page_header {
	height: 75px;
	background: #a1a1a1;
}

#page_header h2 {
	margin: 0px;
	font-size: 50px;
	font-family: cursive;
	padding: 0px;
	color: black;
	text-decoration: none;
	display:inline;
}

h3 {
	margin: 0 0 10 0;
}

#page_header h5 {
	display: inline;
}

#page_contentarea {
	min-height: 400px;
	width: 100%;
}

#page_sidebar {
	float: right;
	width: 100px;
	margin-left: auto;
	margin-right: 0px;
	background: #a1a1a1;
	width: 20%;
	height: 300px;
	border-bottom-left-radius: 5px;
}

#page_footer {
	width: 100%;
	background: #a1a1a1;
	height: 100px;
}

#page_footer hr {
	margin: 0px;
}

#page_footer_link {
	padding-left: 25px;
}