body {
	background-repeat: repeat;
	background-image: url(./background.png);
}
#main_page {
	background: white;
	min-height: 500px;
	width: 1024px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px;
}

#page_header {
	height: 75px;
	background: #999999;
	border-color: black;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
}

#page_header h2 {
	margin: 0px;
	font-size: 50px;
	font-family: cursive;
	padding: 0px;
	color: #42568C;
	text-decoration: none;
	display:inline;
}

h3 {
	margin: 0 0 10 0;
}

#page_header h5 {
	display: inline;
}

#page_contentarea {
	min-height: 400px;
	width: 100%;
}

#page_sidebar {
	border-color: black;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-style: solid;
	border-left-width: 1px;;
	float: right;
	width: 100px;
	margin-left: auto;
	margin-right: 0px;
	background: #999999;
	width: 20%;
	height: 300px;
	border-bottom-left-radius: 5px;
}

#package_list li{
	display: inline;
}

#package_line {
	border-style: solid;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	border-top-width: 1px;
	height: 60px;
	width: 100%;
	
}

#package_table .icon {
	height: 200px;
	float: left;
}

.package_title {
	
	margin: 0px;
	font-weight: bold;
	font-size: 18px;
}

#package_icon {
	width: 50px;
	display: inline;
}

#package_title {
	height: 40%;
	margin: 0px;
	font-weight: bold;
	font-size: 18px;
}

#page_footer {
	width: 100%;
	background: #999999;
	height: 100px;
}

#page_footer hr {
	margin: 0px;
}

#page_footer_link {
	padding-left: 25px;
}

